<form method="post" action="{{ path('app_specialite_delete', {'id': specialite.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cette spécialité?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialite.id) }}">
    <button class="btn">Supprimer</button>
</form>
