{% extends 'base.html.twig' %}


{% block title %}Liste Missions{% endblock %}

{% block body %}
    <h1 class="title">Liste des Missions</h1>
    
    <div class="js-filter">

        <div class="search">
        {% include 'search/search.html.twig' %}
        </div>

        <div class="main">
            <div class="number-mission">
                <span>Nombre de missions :<span>
                {{ missions|length }}

            </div>
             <div class="js-filter-content">
                {% include 'mission/list.html.twig' %}
             </div>
        </div>

    </div>

{% endblock %}
