{% extends 'base.html.twig' %}

{% block title %}Modifier Contact{% endblock %}

{% block body %}
    <h1 class="title">Modifier Contact</h1>

    {{ include('contact/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('app_contact_index') }}">Retour</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}