{% extends 'base.html.twig' %}

{% block title %}Nouveau Contact{% endblock %}

{% block body %}
    <h1 class="title">Créer nouveau Contact</h1>

    {{ include('contact/_form.html.twig') }}

    <a href="{{ path('app_contact_index') }}">Retour</a>
{% endblock %}